h1, h2 {
  color: #663300;
  font-size: 24;
  margin: 5px;
  padding: 5px;
  border: 2px solid #cc9966;
  
}
h3 {
  color: #663300;
  font-size: 20;
  margin: 5px;
  padding: 5px;
  
}

body {
  font-family:  Times New Roman, Sans-Serif;
  background-color: #b4b4b4;
  
  p { color: #996633; 
    font-size: 16;
    padding: 5px;
    margin: 5px;
    width: 500px;
  }
  li { color: #996633; 
    font-size: 14;
    padding: 1px;
    margin: 3px;
  }
 
 i { 
    color: brown; 
    margin: 25px ;
  }
 
  
}

  
  


  